* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b8b8b8;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#profilePic {
    width: 10rem;
    height: 10rem;
    border-radius: 20%;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    background-color: #333;
    height: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 1rem 0rem 0;
    width: 100%;
}

#box-1 {
    background-color: #1d1c1c;
    color: #fff;
    width: 35%;
    margin: 0;
    height: 158.5rem;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;
}

#topic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3f22be86;
    color: #fff;
    padding: 1rem 0rem 1rem 2rem;
    width: 20rem;
    border-radius: 20px;
}

#meter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ff0000;
    width: 33rem;
    border-radius: 50px;
}

#box-2 {
    color: #1d1c1c;
    width: 65%;
    margin: 1rem;
    height: auto;
}

#project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25rem;
    background: #3f22be86;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(106, 108, 109);
    margin: 1rem;
    padding: 0.5rem;
}

#image {
    width: 20rem;
    height: 15rem;
    border-radius: 20px;
}

.btn {
    background-color: #501594;
    padding: 1rem;
    border-radius: 20px;
    margin: 1rem;
}

.btn a {
    text-decoration: none;
    color: #dbdada;
}

.btn a:hover {
    text-decoration: underline;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
}

.contact1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 20px;
}

.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 40rem;
}

.social a {
    text-decoration: none;
    color: #1d1c1c;
    font-size: 35px;
    margin: 5px;
}

.social a:hover {
    text-decoration: underline;
}

.contact2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 20px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 20rem;
}

.message input {
    justify-content: center;
    align-items: flex-start;
    width: 30rem;
    height: 4rem;
    border-radius: 50px;
    margin: 0.5rem;
    padding: 20px;
}

.bott {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 50px;
}

.bott a {
    text-decoration: none;
    color: #1d1c1c;
}

.bott a:hover {
    text-decoration: underline;
}

/* Media Query for Mobile Devices */
@media (min-width: 375px) and (max-width: 525px) {
    *{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    header {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
 
    .name {
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }

    #profilePic {
        margin: 0.5rem 0 0 0;
        width: 10rem;
        height: 10rem;
    }

    .logo2 {
        justify-content: center;
        align-items: center;
    }

    nav a {
        justify-content: center;
        font-size: 14px;
        margin: 10px;
    }

    #container {
        margin: 0;
        flex-direction: column;
    }

    #box-1 {
        width: 100%;
        padding: 10px;
        margin: 0;
        height: 73rem;
    }

    #about {
        margin: 0;
        padding: 15px 0 0 25px;   
    }

    #topic {
        font-size: 16px;
        padding: 0.5rem;
    }

    #box-2{
        width: 100%;
        padding: 10px;
        margin: 0;
        height: 70rem;
    }

    .projects {
        justify-content: center;
        width: 20rem;
        margin: 1.5rem;
    }

    #image {
        width: 15rem;
        height: 10rem;
        justify-content: center;
    }

    .btn {
        width: 8.5rem;
        padding: 0.5rem;
    }

    #contact {
        margin: 0rem;
    }
    
    .contact1 {
        margin: 0rem;
        padding: 0.5px;
    }
    
    .social{
        width: 22rem;
    }

    .contact2 {
        margin: 0;
        padding: 5px;
    }
    
    .message {
        width: 22rem;
        height: 20rem;
    }
    
    .message input {
        width: 20rem;
        height: 4rem;
    }
    
    .bott {
        width: 7rem;
    }
}